*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .BackGround{
    background-color: #52315E;
      background-image: linear-gradient( #52315E, #795995);
      background-size: cover;
      background-attachment: fixed;
  }
  
  #container{
    display: flex;
    justify-content: space-between;
  }
  #container1{
    display: flex;
    justify-content: space-between; 
}

  .botao{
    width: 40%;
    margin-left: 20%;
    margin-top: 5%; 
  }

  .voltar{
    width: 100%;
  }

  
  .BillG{
    margin:auto;
    width: 300%;
    height: 80px;
    background-color:#DE9612;
    border-radius: 200px;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-right: 20%;
    font-family: "Jersey 25", sans-serif;
  }
  
  .bannerP{
    width: 620px;
    height: 630px;
    background-color:#DE9612;
    border-radius:40px;
    margin-left: 80px;
    box-shadow: 20px 10px 1px rgb(0, 0, 0, 200); 
  }

  .texto{
    font-size: 16px;
    background-color: #F2B74A;
    border-radius: 5%;
    width:600px;
    height:600px;
    margin-left: 10px;
    margin-top: 18px;
    margin-right: 10px;
    padding-left: 10px;
  }

  .bkg_img{
    background-color: white;
    border-radius: 60px;
    margin-right: 300px;
  }

  .logo_micro{
    width: 180px;
    height: 100px;
    border-radius: 30px;
  }

  .windows{
    margin-left: 15px;
    width: 100px;
    height: 80px;
    border-radius: 20px;

  }

  .windows11{
    width: 100px;
    height: 80px;
    border-radius: 20px;
  }

 
  .img{
    background-color: #F2B74A;
    width: 420px;
    height: 160px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }

.filan{
    color:white;
    font-family: "Jersey 25", sans-serif;
}

  .banner2{
    width: 460px;
    height: 230px;
    background-color:#DE9612;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    margin-right: 100px;
    box-shadow: 20px 10px 1px rgb(0, 0, 0, 200);  
  }
  
  .bill_fund{
    width: 200px;
    height: 140px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 5px;
  }
   
  .banner3{
    background-color:#DE9612;
    width:460px;
    height: 375px;
    border-radius: 50px;
    font-family: jersey 25 regular;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-right: 2%;
    margin-top: 40px;
    box-shadow: 20px 10px 1px rgb(0, 0, 0, 200);
    font-family: "Jersey 25", sans-serif;
  }
  
  .img1{
    background-color: #F2B74A;
    width: 440px;
    height: 300px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 25px;
  }

  .versao_Win{
    width: 420px;
    height: 270px;
    border-radius: 30px;
    margin-top: 15px;
  }
  