*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .BackGround{
    background-color: #52315E;
      background-image: linear-gradient( #52315E, #795995);
      background-size: cover;
      background-attachment: fixed;
  }
  
  #container{
    display: flex;
    justify-content: space-between;
  }
  #container1{
    display: flex;
    justify-content: space-between; 
}

  .botao{
    width: 40%;
    margin-left: 20%;
    margin-top: 5%; 
  }

  .voltar{
    width: 100%;
  }

  
  .steveJ{
    margin:auto;
    width: 300%;
    height: 80px;
    background-color:#DE9612;
    border-radius: 200px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin-right: 20%;
  }
  
  .bannerP{
    width: 620px;
    height: 535px;
    background-color:#DE9612;
    border-radius:40px;
    margin-top: 2%;
    margin-left: 80px;
    box-shadow: 20px 10px 1px rgb(0, 0, 0, 200);
  }

  .texto{
    font-size: 16px;
    background-color: #F2B74A;
    border-radius: 5%;
    width:600px;
    height:500px;
    margin-left: 10px;
    margin-top: 18px;
    margin-right: 10px;
    padding-left: 10px;
  
  }

  .bkg_img{
    background-color: white;
    border-radius: 60px;
    margin-right: 300px;
  }

  .logo_apple{
    width: 70px;
    height: 70px;
  }

  .d_iphone{
    margin-left: 35px;
    width: 60px;
    height: 60px;
  }

  .d_ipad{
    width: 60px;
    height: 60px;
  }

  .separaT{
    justify-content: space-between;
    color: white;
    font-size: 14px;
  }

  .img{
    background-color: #F2B74A;
    width: 420px;
    height: 140px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .banner2{
    width: 460px;
    height: 200px;
    background-color:#DE9612;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    margin-right: 100px;
    box-shadow: 20px 10px 1px rgb(0, 0, 0, 200);  
  }
  
  .apple1{
    width: 190px;
    height: 120px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 5px;
  }
  
  .imac{
    width: 190px;
    height: 120px;
    border-radius: 20px;
    
  }
 
  .banner3{
    background-color:#DE9612;
    width:100%;
    height:320px;
    border-radius: 50px;
    font-family: jersey 25 regular;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-right: 2%;
    margin-top: 40px;
    box-shadow: 20px 10px 1px rgb(0, 0, 0, 200);
  }
  
  .img1{
    background-color: #F2B74A;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
  }

  .celulares{
    width: 250px;
    height: 100px;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 30px;
  }
  
  .iphone{
    width: 100px;
    height: 100px;
  
    border-radius: 30px;
  }
  
  .walkMan{
    width: 100px;
    height: 100px;
    margin-right: 170px;
    border-radius: 30px;
    
  }

  .ipod{
    width: 100px;
    height: 100px;
    margin-top: 2%;
    border-radius: 30px;
    }