*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BackGround{
  background-color: #52315E;
    background-image: linear-gradient( #52315E, #795995);
    background-size: cover;
    background-attachment: fixed;
}

.container{
  display: flex;
  justify-content: space-between;
}

.titulo{
  margin:auto;
  margin-top: 20px;
  width: 850px;
  height: 120px;
  background-color:#DE9612;
  border-radius: 200px;
  font-size: 50px;
  color: #2A3B67;
  text-align: center;
  font-family: "Jersey 25", sans-serif;
}

.bannerP{
  width: 40%;
  height: 50%;
  background-color:#DE9612;
  border-radius:10%;
  margin-top: 2%;
  margin-left: 2%;
  box-shadow: 20px 10px 1px rgb(0, 0, 0, 200); 
}

.cursoImg{
  margin-top:5%;
  width: 90%;
  margin-bottom: 2%;
  margin-left: 5%;
  border-radius: 50px;
}

.texto{
  font-family: "Jersey25-Regular",sans-serif;
  font-size: 12px;
  background-color: white;
  border-radius: 5%;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-bottom: 2%;
  padding-right: 6%;
  padding-left: 6%;
}

.goBiblio{
text-decoration: none;
}

.goGames{
  text-decoration: none;
  }

.bibliografia{
  width:40%;
  height: 200px;
  background-color:#DE9612;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  margin-right: 10%;
  margin-top: 2%;
  box-shadow: 20px 10px 1px rgb(0, 0, 0, 200);
  font-family: "Jersey 25", sans-serif;
}

.jobs{
  width: 25%;
  height: 120px;
  border-radius: 100%;
  margin-top: 20px;
  margin-right: 5%;
}

.Gates{
  width: 25%;
  height: 120px;
  border-radius: 100%;
  margin-right: 5%;
}
.Guanabara{
  background-color: white;
  width: 25%;
  height: 120px;
  border-radius: 100%;
}

.games{
  width:100%;
  height: 220px;
  background-color:#DE9612;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  margin-right: 5%;
  margin-top: 5%;
  box-shadow: 20px 10px 1px rgb(0, 0, 0, 200);
  font-family: "Jersey 25", sans-serif;
}

.imgGames{
  width: 80%;
  height: 60%;
  border-radius: 10%;
  margin-top: 10px;
}

.faleC{
display: block;
margin-top: 2%;
align-self: auto;
justify-content:flex-end;
}

.Logo_Insta{
  width: 10%;
  height: 20%;
  margin-right: 10%;
}

.Logo_Whats{
  width: 10%;
  height: 20%;
  align-items: end;
  margin-right: 10%;
}
