*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#background {
    background-color: #52315E;
    background-image: linear-gradient( #52315E, #795995);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }


 #titulo{
  margin:auto;
  width: 600px;
  height: 100px;
  background-color:#DE9612;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  color: #2A3B67;
 } 

#retangulo{
  width:500px;
  height: 790px;
  background-color:#DE9612;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 20px;
}

#texto{
  background-color: white;
  font-size: 12px;
  border-radius: 20px;
}

#cursoImg{
  width: 680px;
  height: 200px;
  border-radius: 50%;
  margin-left: 20px;
}

#bibliografia{
  width:500px;
  height: 245px;
  background-color:#DE9612;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  margin-left: 62%;
}

.jobs{
  width: 109px;
  height: 116px;
  border-radius: 100px;
  margin-right:300px ;
  margin-top: 10px;
}
.Gates{
  width: 109px;
  height: 116px;
  border-radius: 100px;
}
.Guanabara{
  background-color: white;
  width: 109px;
  height: 116px;
  border-radius: 100px;
  stroke: black;
}

#games{
  width: 500px;
  height: 245px;
  background-color:#DE9612;
  border-radius: 50px;
  text-align: center;
  padding-top: 20px;
  margin-left: 62%;
  margin-top: 50px;
}