*{
  margin: 0;
  padding: 5;
  box-sizing: border-box;
}

.BackGround{
  background-color: #52315E;
    background-image: linear-gradient( #52315E, #795995);
    background-size: cover;
    background-attachment: fixed;
}

.container{
  display: flex;
  justify-content: space-between;  
}

.titulo{
  margin:auto;
  width: 60%;
  height: 10opx;
  background-color:#DE9612;
  border-radius: 50px;
  font-size: 25px;
  color: #2A3B67;
  text-align: center;
  
}

.bannerP{
  width: 39%;
  height: 1%;
  background-color:#DE9612;
  border-radius:10%;
  margin-top: 2%;
  margin-left: 2%;
  box-shadow: 10px 10px 1px rgb(0, 0, 0, 200);

  
}

.cursoImg{
  margin-top:5%;
  width: 90%;
  margin-bottom: 5%;
  margin-left: 5%;
  border-radius: 20px;
}

.texto{
  font-size: 78%;
  background-color: white;
  border-radius: 5%;
  width: 100%;
  max-width: 450px;
  margin-left: 5%;
  padding-right: 6%;
  padding-left: 6%;
}

.bibliografia{
  width:28%;
  height: 200px;
  background-color:#DE9612;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  margin-right: 5%;
  margin-top: 2%;
  box-shadow: 10px 10px 1px rgb(0, 0, 0, 200);
  
}
.jobs{
  width: 22%;
  height: 116px;
  border-radius: 100%;
  margin-top: 20px;
  margin-right: 5%;
}
.Gates{
  width: 22%;
  height: 116px;
  border-radius: 100%;
  margin-right: 5%;
}
.Guanabara{
  background-color: white;
  width: 22%;
  height: 116px;
  border-radius: 100%;
  
}

.games{
  width: 100%;
  height: 110%;
  background-color:#DE9612;
  border-radius: 50px;
  text-align: center; 
  margin-top: 10%;
  box-shadow: 10px 10px 1px rgb(0, 0, 0, 200);
}
.imgGames{
  width: 90%;
  height: 60%;
  margin-top: 5%;
  border-radius: 15%;
}
.faleC{
display: inline-block;
text-align: center;
margin-top: 2%;

}