*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .BackGround{
    background-color: #323D85;
      background-image: linear-gradient( #323D85, #36649F);
      background-size: cover;
      background-attachment: fixed;
  }
  
  #container{
    display: flex;
    justify-content: space-between;
  }
  #container1{
    display: flex;
    justify-content: space-between; 
}

  .botao{
    width: 40%;
    margin-left: 20%;
    margin-top: 5%; 
  }

  .voltar{
    width: 100%;
  }

  
  .playS{
    margin:auto;
    width: 4500px;
    height: 100px;
    background-color:#DE9612;
    border-radius: 200px;
    font-size: 40px;
    color: #2A3B67;
    text-align: center;
    margin-right: 20%;
    font-family: "Jersey 25", sans-serif;
  }
  
  .bannerP{
    width: 680px;
    height: 630px;
    background-color:#DE9612;
    border-radius:40px;
    margin-left: 80px;
    box-shadow: 20px 10px 1px rgb(0, 0, 0, 200); 
  }

  .texto{
    font-size: 19px;
    background-color: #F2B74A;
    border-radius: 5%;
    width:655px;
    height:600px;
    margin-left: 10px;
    margin-top: 18px;
    margin-right: 10px;
    padding-left: 10px;
    font-family: "Jersey 25", sans-serif;
  }

  .bkg_img{
    background-color: white;
    border-radius: 60px;
    margin-right: 300px;
  }


  .logo_play{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    margin-left: 300px;
    margin-right: 30px;
  }
  .logo_PsPlus{
    width: 180px;
    height: 100px;
    border-radius: 30px;
    
  }

  .gow{
    margin-left: 15px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-left: 235px;
    margin-right: 15px;
  }

  .tLast{
    width: 120px;
    height: 100px;
    border-radius: 20px;
    margin-right: 15px;
  }

  .finalF{
    width: 120px;
    height: 100px;
    border-radius: 20px;
  }

  .banner2{
    width: 520px;
    height: 630px;
    background-color:#DE9612;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    margin-right: 100px;
    box-shadow: 20px 10px 1px rgb(0, 0, 0, 200);  
  }
  
  .play1{
    width: 160px;
    height: 100px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 100px;
  }

  .logo_pS1{
    width: 180px;
    height: 100px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 0px;
  }
   
  .play2{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 140px;
  }
   
  .logo_pS2{
    width: 180px;
    height: 100px;
    border-radius: 20px;
    margin-right: 0px;
    
  }
   
  .play3{
    width: 160px;
    height: 100px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 100px;
  }
   
  .logo_pS3{
    width: 180px;
    height: 100px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 5px;
  }
   
  .play4{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 140px;
  }
   
  .logo_pS4{
    width: 180px;
    height: 100px;
    border-radius: 20px;
    margin-top: 0px;
  }
   
  .play5{
    width: 160px;
    height: 100px;
    border-radius: 20px;
    margin-right: 100px;
  }
   
  .logo_pS5{
    width: 180px;
    height: 100px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 5px;
  }
   
   