*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .BackGround{
    background-color: #2F6026;
      background-image: linear-gradient( #2F6026, #62A44A);
      background-size: cover;
      background-attachment: fixed;
  }
  
  #container{
    display: flex;
    justify-content: space-between;
  }
  #container1{
    display: flex;
    justify-content: space-between; 
}

  .botao{
    width: 40%;
    margin-left: 20%;
    margin-top: 5%; 
  }

  .voltar{
    width: 100%;
  }

  
  .xBOX{
    margin:auto;
    width: 4500px;
    height: 100px;
    background-color:#DE9612;
    border-radius: 200px;
    font-size: 40px;
    color: #287A2E;
    text-align: center;
    margin-right: 20%;
    font-family: "Jersey 25", sans-serif;
  }
  
  .bannerP{
    width: 680px;
    height: 630px;
    background-color:#DE9612;
    border-radius:40px;
    margin-left: 80px;
    box-shadow: 20px 10px 1px rgb(0, 0, 0, 200); 
  }

  .texto{
    font-size: 19px;
    background-color: #F2B74A;
    border-radius: 5%;
    width:655px;
    height:600px;
    margin-left: 10px;
    margin-top: 18px;
    margin-right: 10px;
    padding-left: 10px;
    font-family: "Jersey 25", sans-serif;

  }

  .bkg_img{
    background-color: white;
    border-radius: 60px;
    margin-right: 300px;
  }


  .logo_XBOX{
    width: 80px;
    height: 80px;
    border-radius: 30px;
    margin-left: 80px;
    margin-right: 20px;
  }
  .halo{
    width: 80px;
    height: 100px;
    border-radius: 20px;
    margin-right: 20px;
    
  }
  .exclusivos{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    margin-right: 20px;
  }

  .xbox_One{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    margin-right: 10px;
  }

  .xbox_Live{
    margin-left: 15px;
    width: 250px;
    height: 130px;
    border-radius: 20px;
    margin-left: 150px;
    margin-right: 80px;
  }

  .xbox_Series{
    width: 130px;
    height: 130px;
    border-radius: 20px;
    margin-right: 15px;
  }

 

  .banner2{
    width: 520px;
    height: 630px;
    background-color:#DE9612;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    margin-right: 100px;
    box-shadow: 20px 10px 1px rgb(0, 0, 0, 200);  
  }
  
  .titulo_banner2{
    color:#287A2E;
    font-family: "Jersey 25", sans-serif;
    font-size: 80px;
    margin-top: 10px;
  }

  .especificacoes{
    width: 450px;
    height: 500px;
    border-radius: 30px;
    margin-top: 20px;
  }